/* Define color scheme */
:root {
  --primary-color: #0a84ff;
  --secondary-color: #2c2c2c;
}

/* Style the container */
.module--shipping-label-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  height: 100vh;
  justify-content: center;
}

/* Style the file picker */
#picker {
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 10px 20px;
  color: var(--primary-color);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
  text-align: center;
}

#picker:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* Style the table */
#table {
  margin-top: 50px;
  border-collapse: collapse;
  width: 80%;
  font-size: 18px;
  color: var(--secondary-color);
}

/* Style the table cells */
#table td, #table th {
  border: 1px solid var(--primary-color);
  padding: 10px;
  text-align: center;
}

/* Style the table header */
#table th {
  background-color: var(--primary-color);
  color: #fff;
}